---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faDesktop,
  faMobileScreenButton,
  faCloud,
  faServer,
  faUserNinja,
  faUserAstronaut,
  faUserGraduate,
  faUserPlus,
} from "@fortawesome/free-solid-svg-icons";

import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";

const title = "Zak Warren";
const description =
  "Zak Warren, Software Engineer Extraordinaire, creates amazing applications.";
const devSkills = [
  { name: "JavaScript", bar: "90%" },
  { name: "TypeScript", bar: "40%" },
  { name: "CSS", bar: "90%" },
  { name: "React", bar: "70%" },
  { name: "Node", bar: "70%" },
  { name: "PWAs", bar: "50%" },
  { name: "SQL Server", bar: "80%" },
  { name: "Mongo DB", bar: "60%" },
  { name: "Docker & K8s", bar: "40%" },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <style>
      @import "../styles/home.css";
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body id="home">
    <Hero>
      <div class="hero-primary">
        <h1>Software Engineer Extraordinaire</h1>
        <h3>Zak Warren</h3>
        <p>I create smarter software that makes people's lives better.</p>
      </div>
      <div class="hero-secondary">
        <p>Stand out in a sea of ordinary.</p>
      </div>
    </Hero>

    <div
      class="container"
      id="leader"
    >
      <span class="heading">
        <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faUserAstronaut} />
        <h2>Creating the path</h2>
      </span>
      <p>
        The way we organise ourselves is just as important as the way we
        organise our systems and our code. When leading I've found that small,
        highly collaborative teams are the most effective.
      </p>
      <p>
        I encourage conversations in my team, listening to all ideas, taking
        advice, and having open discussions about the way forward.
      </p>
      <p>
        All the teams that I have led have increased the speed, quality, and
        ambition of their work. This is all while feeling positive and that
        their work makes a real difference.
      </p>
    </div>

    <div class="container container-grey" id="scalable">
      <span class="heading">
        <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faUserNinja} />
        <h2>More experience than you can shake a stick at</h2>
      </span>
      <p>
        I've had the privilege to work in a range of companies in varied
        industries. I've created outstanding software aimed at wildly different
        audiences, from a single user to millions of concurrent users.
      </p>
      <p>
        Throughout the numerous projects I've worked on, I've gained experience
        in designing and implementing a wide variety of different architectures.
        I embrace building modular components that are reusable, extensible, and
        easy to test.
      </p>
      <p>
        Often the most difficult question to answer is "What do you want to see
        and do?". So throughout development I work with users to figure out what
        they need, demonstrating and eliciting feedback regularly.
      </p>
      <p>This is how I create software that is scalable, secure, and robust.</p>
      <div class="card-row">
          <div class="card">
            <p class="text-big">Responsive</p>
            <FontAwesomeIcon
              class="icon icon-md"
              fixedWidth
              icon={faMobileScreenButton}
            />
          </div>
          <div class="card">
            <p class="text-big">Performant</p>
            <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faDesktop} />
          </div>
          <div class="card">
            <p class="text-big">Scalable</p>
            <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faCloud} />
          </div>
          <div class="card">
            <p class="text-big">Secure</p>
            <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faServer} />
          </div>
      </div>
    </div>

    <div class="container" id="mentor">
      <span class="heading">
        <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faUserGraduate} />
        <h2>Passing it forwards</h2>
      </span>
      <p>
        At the start of my career I had some great mentors. As I've developed
        my skills and knowledge I have continued this tradition of passing it
        forwards.
      </p>
      <p>
        I've worked with many students, graduates, and junior developers as a
        mentor or coach. It has been a great honour to help and guide them as
        they've made their first steps in their journey in creating software.
      </p>
    </div>

    <div class="container container-grey container-cols" id="skills">
      <div class="col-50">
        <span class="heading">
          <FontAwesomeIcon class="icon icon-md" fixedWidth icon={faUserPlus} />
          <h2>Skills</h2>
        </span>
        <p>
          I'm a highly skilled and experienced full stack software developer.
          I'm a quick and efficient learner, and a firm believer in using the
          best tool for the job. During my career I've made use of a variety
          of technologies, based on business need, project requirements, what
          my colleagues have skills in, and what is available at the time.
        </p>
      </div>
      <div class="col-50">
      {devSkills.map((skill) => (
        <div class="bar-outer">
          <div
            class="bar-inner"
            style={`width:${skill.bar}`}
          >
            {skill.name}
          </div>
        </div>
      ))}
      </div>
    </div>

    <footer class="footer">
      <a href="#home" class="button">Back to the top</a>
    </footer>
  </body>
</html>
