---
import Navigation from "../components/Navigation.astro";
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    heading: string;
    category: string;
    publishDate: string;
  };
}

const { content } = Astro.props;
const { title, description, heading, category, publishDate } = content;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <style global>
      @import "../styles/blog.css";
    </style>
  </head>

  <body>
    <header class="blog-header">
      <Navigation />
      <img class="blog-banner" src="/assets/blog-banner.jpg" alt="blog banner"
      />
      <h1 class="blog-heading">{heading}</h1>
      <span class="blog-category">{category}</span>
      <time class="blog-date">{publishDate}</time>
    </header>
    <article class="blog-content">
      <main>
        <slot />
      </main>
    </article>
  </body>
</html>
